{% load static %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<html>
    <head>
        <title>ToDoリスト</title>
    </head>
    <body>
        <header class='headstyle'>
        <div class='header'>
        {% block header %}
        {% endblock header %}
        <ul class='route'>
            <li><a href='{% url "list" %}'>一覧画面へ</a></li>
            <li><a href='{% url "home" %}'>ホーム画面に戻る</a></li>
        </ul>
        </div>
        </header>
        <div class='main'>
        {% block content %}
        {% endblock content %}
        </div>
        <div class='footer'>
            <p></p>
        </div>
        
    </body>
</html>