{% extends 'base.html' %}
{% block header %}
<h1>Todoリスト一覧</h1>
{% endblock header %}

{% block content %}
<form method="get" action="filter_form">
    <legend>科目選択</legend>
    
    <div>
        <select>
        {% for subject in subjects %}
        <option value="{{subject.id}}">{{subject.subjects}}</option>
        {% endfor %}
        </select>
        <input type="submit" name="filter" >
    </div>
</form>
    {% for list in object_list %}
    <p>{{list.title}}</p>
    <ul>
        <li><a href='{% url "detail" list.pk %}'>詳細画面へ</a></li><!--list.pkでリンクのpkを自動取得できる-->
        <li><a href='{% url "update" list.pk %}'>編集画面へ</a></li>
        <li><a href='{% url "delete" list.pk %}'>削除画面へ</a></li>
    </ul>
    {% endfor %}
    <p><a href='{% url "create" %}'>新規作成画面へ</a></p>
{% endblock content %}