{% extends 'base.html' %}
{% block header %}
<h1>Todoリスト一覧</h1>
{% endblock header %}

{% block content %}

    <a href='{% url "list" %}'><p>全一覧</p></a>
    <a href='{% url "create" %}'class="btn btn-primary btn-lg active" role="button" aria-pressed="true">新規作成</a>
    <div>
        <h4>選択してください</h4>
        {% for category in category_list %}<!-- category.pyから取得した辞書(settingsを介して取得)-->
            <a href='{% url "category" category %}'>
                <button style='float:left; margin-right:5px; background:deepskyblue; border-radius:5px;'>
                    {{category.subjects}}
                </button>
            </a>
    </div>
    {% endfor %}
    <h1 style='clear:both;'></h1>
    {% if category %}
    <h3>カテゴリー:{{category_key}}</h3>
    {% endif %}
    
<div class="card-columns">    
{% for list in object_list %}   
<div class="card">
    <div class="card-header">
    <h4 class="card-title">{{list.title}}</h4>
    </div>
  <div class="card-body">
    <p class="card-text">
     {{list.content|linebreaksbr}}
    </p>
    <a href="{% url 'detail' list.pk %}" class="btn btn-primary">詳細</a>
    <a href="{% url 'update' list.pk %}" class="btn btn-primary">編集</a>
    <a href="{% url 'delete' list.pk %}" class="btn btn-primary">削除</a>
  </div>
</div>
{% endfor %}
</div>    

{% endblock content %}