body{
    margin: 0px;
}


.headstyle{
    min-height:15%;
    background-color:#16F6D0;
    margin:0px;
    padding:0px;
}

.main{
    min-height:60%;/*高さの最小値を指定する*/
    position:relative;/*相対位置*/
}

.footer{
    background-color:#0AFF37 ;
    width:100%;
    min-height:25%;
   
}

.route li{
    list-style: none;
    float:left;
    padding-top:0px;
    padding-right:20px;
    padding-left:20px;
    font-size:200%;
    
}